@model CSS.Website.Strapi.Domain.Models.Teaser

<div>
    <h4>
        Ich bin ein Teaser
    </h4>
    
    <img src="@($"http://localhost:1337{Model.TeaserImageUrl}")" alt="teaser" width="100px"/>
    <p>
        @Model.TeaserTitle
    </p>
    <p>
        @Html.Raw(Model.TeaserDescription)
    </p>
</div>
