@page
@model CSS.Website.Strapi.Web.Pages.Accomplishment.Index

@{
    Layout = "Shared/_Layout";
}

<h1>
    Unsere Leistungen
</h1>

<div>
    @Html.Raw(Model.Description)
</div>

<p>
    <strong>-- MEHR UEBER UNSERE ARBEITSWEISE</strong>
</p>

@foreach (var accomplishment in Model.Accomplishments)
{
    @Html.Partial("Shared/_Teaser", accomplishment.Teaser)
    <a asp-page="/Accomplishment/Item" asp-route-id="1">Details</a>
}