@page "{id}"
@model CSS.Website.Strapi.Web.Pages.Accomplishment.Item

@{
    Layout = "Shared/_Layout";
}

<div>
    <h2>
        Details zu dieser Leistung
    </h2>
    
    <h3>
        @Model.Accomplishment.Name
    </h3>
    
    <p>
        @Html.Raw(Model.Accomplishment.Description)
    </p>
</div>
